<h1 class="itz a me"> This is Roxy! </h1>
<p class="itz a me" > I am a designer and a natural sports enthusiast. </p>

<h2 class="itz a me" >Inspired by nature, I love showcasing my interests in my artistic work.</h2>
 <%= link_to "Back to home page", products_path %>
