$link: #ccccff;
$link-hover: #f2e6ff;

body {
  margin:40px;
  height:200vh;
}

// .trypad {
// position: relative;
// }

.card-category {
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.85;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 1px 9px rgba(0,0,0,0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.navbar-itemb{
  display: flex;
  justify-content: center;
  box-shadow: 3px 2px 25px rgba(0,0,0,0.6);
  padding:15px;

 li{
    display:inline-block;
    margin: 10px 25px;
    font-size: 17px;
  }
}
.greennav{
  color:whitesmoke;
  opacity: .7;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  :hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.greennav:before{
  transform: scaleX(0);
  transform-origin: bottom right;
}

.logdetails{
  display: flex;
  justify-content: flex-end;
  padding: 5px 10%;
  width: 100%;
  //position:relative;
  //margin: 20px 30px;
}

.navbar-side{
  list-style-type: disc;
}
.navbar-itembutton{
  color:gray;
  //mix-blend-mode: difference;
  right: 30px;
  font-size: 17px;
  display:inline-block;
  //display:inline;
  //width: 100px;
  //padding-right: 30px;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  opacity: 0.7;
  margin: 0 20px;
  //position: absolute;
}




@import "bulma";
//@import "functions";
