$link: #ccccff;
$link-hover: #f2e6ff;

body {
  margin:40px;
  height:200vh;
}

// .trypad {
// position: relative;
// }

.card-category {
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.85;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 1px 9px rgba(0,0,0,0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.navbar-itemb{
  display: flex;
  justify-content: center;
  box-shadow: 3px 2px 25px rgba(0,0,0,0.6);
  padding:15px;

 li{
    display:inline-block;
    margin: 10px 25px;
    font-size: 20px;
  }
}
.greennav{
  color:whitesmoke;
  opacity: .7;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  :hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.greennav:before{
  transform: scaleX(0);
  transform-origin: bottom right;
}

.logdetails{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-position: 50% 40%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1623038455007-891466ff6016?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286");
  z-index: -1;
  opacity:0.85;
  width: 100%;
  background-size: cover;

}

.navbar-side{
  list-style-type: disc;
  mix-blend-mode: difference;
}
.navbar-itembutton{
  mix-blend-mode: difference;
  padding-bottom: 7px;
  padding-right: 40px;
  font-size: 25px;
  display:inline-block;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  opacity: 0.7;
  margin: 0 10px;
}




@import "bulma";
//@import "functions";
