@import "products/index";
@import "products/show";
@import "pages/about";
@import "products/form";

body,html {
  margin:50px;
  height:200vh;
  margin-left:1%;
  margin-right:1%;
  margin-bottom:1%;
  margin-top:1%;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 35%;
  object-fit: cover;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
   opacity: 0.9;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 1px 1px 9px rgba(0,0,0,0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.navbar-itemb{
  display: flex;
  justify-content: center;
  box-shadow: 3px 2px 25px rgba(0,0,0,0.6);
  padding:15px;

 li{
    display:inline-block;
    margin: 10px 25px;
    font-size: 20px;
  }
}
.greennav{
  color:whitesmoke;
  opacity: .7;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  :hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.greennav:before{
  transform: scaleX(0);
  transform-origin: bottom right;
  ::after{
    color:red;
}
}

.logdetails{
  display: flex;
  justify-content: flex-end;
  background-size:cover;
  width: 100%;
  padding: 1.5px;
  background-position: 50% 43%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1623038455007-891466ff6016?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286");
  z-index: -1;
  opacity:0.9;
}

.navbar-side{
  list-style-type: disc;
}
.navbar-itembutton{
  display:inline-block;
  margin: 0 25px;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 3px;
  padding: 12px 30px;
  border: none;
  background-color: #fd10148b;
  color: #ffffff;
  a{
    color:white;
    font-weight: normal;
  }
}

.navbar-item.has-dropwdown.is-hoverable{
  justify-content: flex-end;
  background-size:cover;
  width: 100%;
  padding: 1.5px;
  background-position: 50% 40%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1623038455007-891466ff6016?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286");
  opacity:0.9;
  // background-color: #9c1a2a;
  // justify-content: flex-end;
  // box-shadow: 0 0 15px rgba(0,0,0,0.9);
}



.navbar-dropdown.is-right{
  justify-content: flex-end;
  background: white;
  font-size:16px;
  text-align:right;
  box-shadow: 0 2px;
  border-radius: .25rem;
  display:row;
  flex-wrap: nowrap;
  padding:.75rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);

}

.navbar-link:not(.is-arrowless)::after {
  border-color: #ccccff;
  margin-top: -0.375em;
  right: 1.125em;
  width:10%;
}

.navbar-link{
  color:white;
  justify-content: flex-end;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 2.5em;
  color: white;
}

.navbar-dropdown a.navbar-item {
  padding-right: 3rem;
  justify-content: flex-end;
}

@import "bulma";
//@import "functions";
