*{
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 1490;
  h1{
    font-size: 27px;
    text-align:center;
    justify-content: center;
  }
}

.row{
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
}

.drone-cards-info{
  padding: 30px 20px;
}

.drone-cards img {
  width: 100%;
  object-fit: cover;
  height: 30vh;
}

.drone-cards {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: auto 50px;

}
