*{
  box-sizing: border-box;
}

body{
  background-color: purple;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 1490;
  h1{
    font-size: 27px;
    text-align:center;
    justify-content: center;
  }
}

.row{
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
}

.drone-cards-info{
  padding: 15px 0px;
  a{
  font-weight: bolder;
  color: #EFC88B;
  text-decoration: underline;
  }
  p {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: inherit;
  font-weight: 400;
  }
}

.drone-cards img {
  width: 110%;
  object-fit: cover;
  border-radius: 30px;
  height: 40vh;
}

.drone-cards {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 110%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: auto 50px;
  height: 45vh;
  border-radius: 50px;

}

.welcome.h1 {
  font-family: 'Bungee';
  color: #7E9181;
  font-size: 35PX;
}
