.index.biggest-body-div{
  margin-top:220px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  // align-items: center;
  // align-content: center;
  // padding-left: var(--gp-padding-xlargeAndAbove, 80px) !important;
  // padding-right: var(--gp-padding-xlargeAndAbove, 80px) !important;
  // min-width: 1440px;
  h1{
    font-size: 27px;
    text-align:center;
    justify-content: center;
  }
}
.flex.card.container{
  gap: 7px;
  margin-left:auto;
  margin-right: auto;
  max-width: 1250px;
}

img{;
   width: 250px;
   object-fit:cover;
   border-radius: 60px;
  }
